<div class="center jumbotron">
  <h1>Welcome to the Hungry-Man</h1>

  <h2>
    This is the home page for the Hungry-Man
  </h2>

  <%= link_to "Sign up now!", 'users/sign_up', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>