<footer class="footer">
  <small>
    Group Name and member names 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.hungry-man.com">News</a></li>
    </ul>
  </nav>
</footer>